# Calculating Average of Numbers Using Functions

In [10]:
def calc_avg(nums):
  sum=0
  count=0
  for i in nums:
    sum+=i
    count=count+1
  average = sum / count
  return average
nums=[1,2,3,4,5,6,7,8,9,10]
average = calc_avg(nums)
print("The average = ", average)

The average =  5.5

# Finding the Longest Word in a List

In [9]:
def find_longest(lis):
  mx=""
  for i in lis:
    if len(i)>len(mx):
      mx=i
  return mx
lis=["Ali","Nemo","Zezee","Mariam","Ahmed"]
longestWord = find_longest(lis)
print("The longest word in the list is: ",longestWord)

The longest word in the list is:  Mariam

# Checking if a Number is Prime

In [8]:
def prime(number):
  if num<2:
    return False
  for i in range(2,int(num/2)+1):
    if num%2==0:
      return False
  return True
num = 17
if prime(num):
  print("The number " f"{num} is a prime number")
else:
  print("The number " f"{num} is not a prime number")

The number 17 is a prime number

# Converting Temperature Units

In [2]:
def celsius_to_fahrenheit(celsius):
    fahrenheit = (celsius * 9 / 5) + 32
    return fahrenheit

def fahrenheit_to_celsius(fahrenheit):
    celsius = (fahrenheit - 32) * 5 / 9
    return celsius

c=37
print(celsius_to_fahrenheit(c))

f=98.6
print(fahrenheit_to_celsius(f))

98.6
37.0

# Generating a List of Squares Using List Comprehension and Functions

In [7]:
squares_list=[]
def generat_squares_list(num):
  for i in range(1,num+1):
    squares_list.append(i*i)
  return squares_list

n=int(input("Enter a number: "))
print(generat_squares_list(n))

Enter a number: 5
[1, 4, 9, 16, 25]

# Converting a List of Strings to Uppercase

In [14]:
def to_uppercase(string_list):
  upperList=[]
  for string in string_list:
    upperString=""
    for char in string:
      upperChar=chr(ord(char)-32)
      upperString+=upperChar
    upperList.append(upperString)
  return upperList
strings=["mariam","zeze","semba","lolo"]
print(to_uppercase(strings))

['MARIAM', 'ZEZE', 'SEMBA', 'LOLO']

# Calculating the Total Price Including Tax

In [15]:
def calc_total_price(price, tax_rate):
  tax_amount = price * tax_rate
  total_price = price + tax_amount
  return total_price

price = float(input("Enter the price of the item: "))
tax_rate = float(input("Enter the tax rate: "))
total_price = calc_total_price(price, tax_rate)
print(f"The total price including tax is: ${total_price:.2f}")

Enter the price of the item: 134567
Enter the tax rate: 20
The total price including tax is: $2825907.00

# Finding the Minimum and Maximum Values in a List

In [17]:
def min_Num(nums):
  mn=nums[0]
  for i in nums:
    if i<mn:
      mn=i
  return mn
def max_Num(nums):
  mx=nums[0]
  for i in nums:
    if i>mx:
      mx=i
  return mx
nums=[5,4,3,2,1,9,8,7,6]
print(f"The minimum value in the list is: {min_Num(nums)}")
print(f"The maximum value in the list is: {max_Num(nums)}")

The minimum value in the list is: 1
The maximum value in the list is: 9

# Checking if a String is a Valid Email Address

In [22]:
def is_valid_email(email):
  if len(email) == 0:
    return False

  at_index = email.find('@')
  if at_index == -1:
    return False

  dot_index = email.find('.', at_index)
  if dot_index == -1:
    return False

  for i in range(at_index):
    char = email[i]
    if not (char.isalnum() or char == '_' or char == '.' or char == '-'):
      return False

  for i in range(at_index + 1, dot_index):
    char = email[i]
    if not (char.isalnum() or char == '-'):
      return False

  for i in range(dot_index + 1, len(email)):
    char = email[i]
    if not char.isalnum():
      return False

  return True

email = input("Enter an email: ")
if is_valid_email(email):
  print("Valid email address")
else:
  print("Invalid email address")

Enter an email: maria2@gmail.com
Valid email address

# Counting the Frequency of Each Character in a String

In [27]:
def char_freq(string):
    char_freq = {}
    for char in string:
        if char in char_freq:
            char_freq[char] += 1
        else:
            char_freq[char] = 1
    return char_freq

string = input("Enter a string: ")
frequency_dic = char_freq(string)
for char, frq in frequency_dic.items():
    print(f"{char} appears {frq} times")

Enter a string: zeze
z appears 2 times
e appears 2 times